<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIPS - @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/dataTables.foundation.css")
    @Styles.Render("~/Content/dataTables.jqueryui.css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery.min.js")
    @Scripts.Render("~/Scripts/jquery.datetimepicker.full.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/dataTables.foundation.min.js")
    @Scripts.Render("~/Scripts/dataTables.jqueryui.min.js")
    @Scripts.Render("~/Scripts/dataTables.select.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/Chart.js")
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Reservation, Inventory and Project Monitoring System</p>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
