@using WebMatrix.Data;
@{
    ViewBag.Title = "Amenity";
    Layout = "~/Views/Shared/_LayoutAdminMaintenance.cshtml";
    var db = Database.Open("dbConnect");
    var view = db.Query("SELECT * FROM tblAmenity,tblAmenityType WHERE strAmenityATId=strAmenityTId");
    var viewType = db.Query("SELECT * FROM tblAmenityType");
    var selectA = "SELECT * FROM tblAmenity,tblAmenityType WHERE strAmenityATId=strAmenityTId AND strAmenityId=(@0)";
    var count = db.QueryValue("SELECT COUNT(*) FROM tblAmenity") + 1;
    var leftPad = "SELECT CONCAT('AME-', LPAD((@0),4,'0'))";
    var aId = db.QueryValue(leftPad, count);
    var viewId = Request["viewId"];
    var editId = Request["editId"];
    var aName = "";
    var aDesc = "";
    var aType = "";
    var aRate = 0.0;
    string[] error = new string[5];
    string[] errorEdit = new string[5];
    var validEdit = 0;
    var valid = 0;
    if (viewId != null)
    {
        <script>
            $(document).ready(function () {
                $("#views").modal();
            });
        </script>
    }
    if (editId != null)
    {
        <script>
            $(document).ready(function () {
                $("#edits").modal();
            });
        </script>
    }
    if (IsPost)
    {
        if (Request.Form["submitAdd"] != null)
        {
            aName = Request["aName"].Trim();
            aDesc = Request["aDesc"].Trim();
            aType = Request["aType"].Trim();
            try
            {
                aRate = Double.Parse(Request["aRate"]);
            }
            catch (FormatException) { valid++; error[0] = "Please have a valid rate"; }
            if (aName.IsEmpty())
            {
                valid++; error[1] = "Please input a name";
            }
            if (aType.IsEmpty())
            {
                valid++; error[2] = "Please input a type";
            }
            if (aRate < 0)
            {
                valid++; error[3] = "Please input a valid value";
            }
            foreach (var x in view)
            {
                if (aName == x.strAmenityName && aType==x.strAmenityATId)
                {
                    valid++; error[4] = "Amenity already taken";
                }
            }
            if (valid == 0)
            {
                var insert = "INSERT INTO tblAmenity (strAmenityId,strAmenityName,strAmenityDesc,strAmenityATId,dblAmenityERate,intAmenityStatus) VALUES (@0,@1,@2,@3,@4,@5)";
                db.Query(insert, aId, aName, aDesc, aType, aRate, 1);
                <script>
                    $(document).ready(function () {
                        $("#views").modal('hide');
                        $("#edits").modal('hide');
                        $("#success").modal({ backdrop: "static" });
                        setTimeout(function () {
                            $("#success").hide();
                            window.location.href = "../Admin/Amenity";
                        }, 2000);
                    });
                </script>
            }
            else
            {
                <script>
                    $(document).ready(function () {
                        $("#add1").modal();
                        $("#views").modal('hide');
                        $("#edits").modal('hide');
                    });
                </script>
            }
        }
        if (Request.Form["submitEdit"] != null)
        {
            var eaName = Request["eaName"].Trim();
            var eaDesc = Request["eaDesc"].Trim();
            var eaType = Request["eaType"];
            var eaRate = 0.0;
            var eaStatus = Request["eaStatus"];
            try
            {
                eaRate = Double.Parse(Request["eaRate"]);
            }
            catch (FormatException) { validEdit++; errorEdit[0] = "Please have a valid rate"; }
            if (eaName.IsEmpty())
            {
                validEdit++; errorEdit[1] = "Please input a name";
            }
            if (eaType.IsEmpty())
            {
                validEdit++; errorEdit[2] = "Please input a type";
            }
            if (eaRate < 0)
            {
                validEdit++; errorEdit[3] = "Please input a valid value";
            }
            foreach (var x in view)
            {
                if (eaName == x.strAmenityName && eaType == x.strAmenityATId && editId != x.strAmenityId)
                {
                    validEdit++; errorEdit[4] = "Amenity already taken";
                }
            }
            if (validEdit == 0)
            {
                var update = "UPDATE tblAmenity SET strAmenityName=(@0), strAmenityDesc=(@1), strAmenityATId=(@2), dblAmenityERate=(@3), intAmenityStatus=(@4) WHERE strAmenityId=(@5)";
                db.Query(update, eaName, eaDesc, eaType, eaRate, eaStatus, editId);
                <script>
                    $(document).ready(function () {
                        $("#edits").modal('hide');
                        $("#success").modal({ backdrop: "static" });
                        setTimeout(function () {
                            $("#success").hide();
                            window.location.href = "../Admin/Amenity";
                        }, 2000);
                    });
                </script>
            }
            else
            {
                <script>
                    $(document).ready(function () {
                        $("#edits").modal();
                    });
                </script>
            }
        }
    }
    <script>
        $(document).ready(function () {
            $('#tableData').DataTable();
        });
        function validate(event, idx) {
            var char = String.fromCharCode(event.which);
            var patt = /[\d`~!#$%^&*()_+={}|:";@@'<>,?\\//\[\]]/;
            var res = patt.test(char);
            if (res) {
                $('#' + idx + '').popover('show');
                return false;
            }
            else {
                $('#' + idx + '').popover('hide');
            }
        }
        function rate(event, idx) {
            var char = String.fromCharCode(event.which);
            var patt = /[a-z`~!#$%^&*()_+={}|:";@@'<>,?\\//\[\]]/;
            var res = patt.test(char);
            if (res) {
                $('#' + idx + '').popover('show');
                return false;
            }
            else {
                $('#' + idx + '').popover('hide');
            }
        }
        $(document).on("click", "#view", function () {
            var viewId = $(this).data("id");
            window.location.href = "../Admin/Amenity?viewId=" + viewId;
        });
        $(document).on("click", "#edit", function () {
            var editId = $(this).data("id");
            window.location.href = "../Admin/Amenity?editId=" + editId;
        });
    </script>
}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-brand">Amenity</div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="../Admin/AmenityType">Amenity Types</a></li>
            <li class="active"><a href="../Admin/Amenity">Amenities</a></li>
        </ul>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12" style="margin-bottom: 1%">
        <div class="col-md-2"><button class="btn btn-default" data-toggle="modal" data-target="#add1">Add Amenity</button></div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Amenities</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tableData" class="table dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Amenity Id</th>
                                <th>Amenity</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Rate</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in view)
                                {
                                    <tr>
                                        <td>@x.strAmenityId</td>
                                        <td>@x.strAmenityName</td>
                                        <td>@x.strAmenityTName</td>
                                        <td>@x.strAmenityDesc</td>
                                        <td>@x.dblAmenityERate</td>
                                        <td>@x.intAmenityStatus</td>
                                        <td>
                                            <button class="btn btn-primary" id="view" name="view" data-id="@x.strAmenityId">View</button>
                                            <button class="btn btn-success" id="edit" name="edit" data-id="@x.strAmenityId">Edit</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ADD-->
<div class="modal fade" id="add1" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Amenity</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (valid != 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            @{
                                                for (int x = 0; x < error.Length; x++)
                                                {
                                                    if (error[x] != null)
                                                    {
                                                        <li>@error[x]</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                                }
                            }
                            <label>Amenity Id: @aId</label><br />
                            <label>Amenity Name:*</label>
                            <input type="text" class="form-control" id="aName" name="aName" placeholder="Amenity" onkeypress="return validate(event, this.id)" data-toggle="popover" value="@aName" />
                            <label>Description:</label>
                            <textarea class="form-control" id="aDesc" name="aDesc" placeholder="Amenity Type Description" onkeypress="return validate(event,this.id)" data-toggle="popover">@aDesc</textarea>
                            <label>Amenity Type:*</label>
                            <select class="btn btn-default dropdown-toggle" id="aType" name="aType" selected="@aType">
                                @{
                                    foreach (var x in viewType)
                                    {
                                        <option value="@x.strAmenityTId">@x.strAmenityTName</option>
                                    }
                                }
                            </select><br /><br />
                            <label>Amenity Energy Rate:*</label>
                            <input type="text" class="form-control" id="aRate" name="aRate" placeholder="Energy Rate" onkeypress="return rate(event, this.id)" data-content="Only valid amount rates will be accepted e.g.(101.25)" data-toggle="popover" value="@aRate"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <label style="float:left">All labels with "*" are required</label>
                    <input name="submitAdd" type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--VIEW-->
<div class="modal fade" id="views" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">View Amenity</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            var viewA = db.Query(selectA, viewId);
                            foreach (var x in viewA)
                            {
                                <label>Amenity Id: @viewId</label><br />
                                <label>Amenity Name:</label>
                                <input type="text" class="form-control" id="vaName" name="vaName" placeholder="Amenity" value="@x.strAmenityName" readonly/>
                                <label>Description:</label>
                                <textarea class="form-control" id="vaDesc" name="vaDesc" placeholder="Amenity Type Description" readonly>@x.strAmenityDesc</textarea>
                                <label>Amenity Type:*</label>
                                <input type="text" class="form-control" id="vaType" name="vaType" placeholder="Energy Rate" value="@x.strAmenityTName" readonly/>
                                <label>Amenity Energy Rate:*</label>
                                <input type="text" class="form-control" id="vaRate" name="vaRate" placeholder="Energy Rate" value="@x.dblAmenityERate" readonly/>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--EDIT-->
<div class="modal fade" id="edits" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Amenity</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (validEdit != 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            @{
                                                for (int x = 0; x < errorEdit.Length; x++)
                                                {
                                                    if (errorEdit[x] != null)
                                                    {
                                                        <li>@errorEdit[x]</li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                                }
                            }
                            @{
                                viewA = db.Query(selectA, editId);
                                foreach (var x in viewA)
                                {
                                    <label>Amenity Id: @aId</label><br />
                                    <label>Amenity Name:*</label>
                                    <input type="text" class="form-control" id="eaName" name="eaName" placeholder="Amenity" onkeypress="return validate(event, this.id)" data-toggle="popover" value="@x.strAmenityName" />
                                    <label>Description:</label>
                                    <textarea class="form-control" id="eaDesc" name="eaDesc" placeholder="Amenity Type Description" onkeypress="return validate(event,this.id)" data-toggle="popover">@x.strAmenityDesc</textarea>
                                    <label>Amenity Type:*</label>
                                    <select class="btn btn-default dropdown-toggle" id="eaType" name="eaType">
                                        @{
                                            foreach (var y in viewType)
                                            {
                                                <option value="@y.strAmenityTId">@y.strAmenityTName</option>
                                            }
                                        }
                                    </select><br /><br />
                                    <script>
                                        document.getElementById("eaType").value = "@x.strAmenityATId";
                                    </script>
                                    <label>Amenity Energy Rate:*</label>
                                    <input type="text" class="form-control" id="eaRate" name="eaRate" placeholder="Energy Rate" onkeypress="return rate(event, this.id)" data-content="Only valid amount rates will be accepted e.g.(101.25)" data-toggle="popover" value="@x.dblAmenityERate" />
                                    <div class="radio">
                                        <label><input type="radio" name="eaStatus" id="active" value="1" />Active</label>
                                        <label><input type="radio" name="eaStatus" id="inactive" value="0" />Inactive</label>
                                    </div>
                                            if (x.intAmenityStatus)
                                            {
                                                <script>
                                                    document.getElementById("active").checked = true;
                                                </script>
                                            }
                                            else
                                            {
                                                <script>
                                                    document.getElementById("inactive").checked = true;
                                                </script>
                                                }
                                            }
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <label style="float:left">All labels with "*" are required</label>
                    <input name="submitEdit" type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--SUCCESS-->
<div class="modal fade" id="success" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="success">SUCCESS</span></h4>
            </div>
            <div class="modal-body">
                <p>SUCCESS!</p>
            </div>
        </div>
    </div>
</div>

