@using WebMatrix.Data;
@{
    ViewBag.Title = "View Project";
    Layout = "~/Views/Shared/_LayoutAdminQueries.cshtml";
    var db = Database.Open("dbConnect");
    var view = db.Query("SELECT * FROM tblProjReqH,tblProjReqD,tblProjectHeader,tblService,tblSection,tblClient,tblOffice " + 
        "WHERE strProjReqHId=strProjReqDReqHId AND strProjREqHClientId=strClientId AND strClientOfficeId=strOfficeId AND strProjReqDId=strProjHReqId AND strProjReqDServId=strServId AND strProjHSecId=strSecId");
    <script>
        $(document).ready(function () {
            $('#tableData').DataTable();
        });
    </script>
}
<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-brand">Project View</div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Projects</h1>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="tableData" class="table dataTable no-footer" role="grid">
                        <thead>
                            <tr>
                                <th>Service and Request</th>
                                <th>Client Name</th>
                                <th>Client's Office</th>
                                <th>Section Assigned</th>
                                <th>Start and End Date</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var x in view)
                                {
                                    <tr>
                                        <td>@x.strServName - @x.strProjReqDDesc</td>
                                        <td>@x.strClientFirst @x.strClientMiddle @x.strClientLast</td>
                                        <td>@x.strOfficeName</td>
                                        <td>@x.strSecName</td>
                                        <td>@x.dtmProjHStart.ToString() - @x.dtmProjHEnd.ToString()</td>
                                        <td>@x.intProjHPriority</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>